<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mindmap</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="src/mindmap.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="dist/mindmap.min.js"></script>
</head>

<body>
    <div class="mindmap">
        <ol class="children children_leftbranch" id="left"></ol>
        <button onclick=addLeftNode()><i class="fa fa-plus"></i></button>
        <div id="parent" class="node node_root">
            <div contenteditable="true">Central Idea</div>
        </div>
        <button onclick=addRightNode()><i class="fa fa-plus"></i></button>
        <ol class="children children_rightbranch" id="right"></ol>
    </div>
    <script>
        $(function () {
            $('.mindmap').mindmap();
        });
        let unique = 1;
        function addRightNode() {
            document.getElementById("right").innerHTML += '<li id=' + unique + 'd class="children__item"><div class="node"><div  class="node__text">New Idea</div><input type="text" class="node__input"></div><button onclick=addRight(this)><i class="fa fa-plus"></i></button><ol id=' + unique + ' class="children"></ol></li>';
            unique++;
        }

        function addRight(elem) {
            var id = $(elem).parent().attr("id");
            id = id.slice(0, -1);
            document.getElementById(id).innerHTML += '<li id=' + unique + 'd class="children__item"><div  class="node"><div class="node__text">New Idea</div><input type="text" class="node__input"></div><button onclick=addRight(this)><i class="fa fa-plus"></i></button><ol id=' + unique + ' class="children"></ol></li>';
            unique++;
        }

        let unique2 = 100;
        function addLeftNode() {
            document.getElementById("left").innerHTML += '<li id=' + unique2 + 'd class="children__item"><div  class="node"><div class="node__text">New Idea</div><input type="text" class="node__input"></div><button onclick=addLeft(this)><i class="fa fa-plus"></i></button><ol id=' + unique2 + ' class="children"></ol></li>';
            unique2++;
            hidemenu()
        }

        function addLeft(elem) {
            var id = $(elem).parent().attr("id");
            id = id.slice(0, -1);
            document.getElementById(id).innerHTML += '<li id=' + unique2 + 'd class="children__item"><div  class="node"><div  class="node__text">New Idea</div><input type="text" class="node__input"></div><button onclick=addLeft(this)><i class="fa fa-plus"></i></button><ol id=' + unique2 + ' class="children"></ol></li>';
            unique2++;
        }
        function deleteNode() {
            alert("delete");
        }


    </script>
</body>

</html>