<div class="col text-left">
    <button onclick=save() class="btn btn-primary">Save</button> 
</div>
<form id="form"  method="POST" style="display: none;" class="form-inline">
    <!-- <input type="hidden" name="_method" value="PUT"> -->
            <div class="form-group mx-sm-3 mb-2">
    <input style="display: none;" type="text" class="form-control" id="code" name="html">
     <input type="submit" class="btn btn-danger" value="Save">
    </div>
</form>


<div id="mindmapid" class="mindmap">

</div>
<script>
    let res = '<%=mindmapwithID.html%>';
    res = unescape(res);
    console.log(res);
    document.getElementsByClassName('mindmap')[0].innerHTML = res;
    $(function () {
        $('.mindmap').mindmap();
    });

    let unique = 1000;
    function addRightNode() {
        document.getElementById("right").innerHTML += '<li id=' + unique + 'd class="children__item"><button id="minusbutton" onclick=deleteNode(this)><i class="fa fa-minus"></i></button><div class="node"><div spellcheck="false" contenteditable="true" class="single-line other">New Idea</div></div><button onclick=addRight(this)><i class="fa fa-plus"></i></button><ol id=' + unique + ' class="children"></ol></li>';
        unique=unique+2;
    }

    function addRight(elem) {
        var id = $(elem).parent().attr("id");
        id = id.slice(0, -1);
        document.getElementById(id).innerHTML += '<li id=' + unique + 'd class="children__item"><button id="minusbutton" onclick=deleteNode(this)><i class="fa fa-minus"></i></button>  <div  class="node"><div spellcheck="false" contenteditable="true" class="single-line other">New Idea</div></div><button onclick=addRight(this)><i class="fa fa-plus"></i></button><ol id=' + unique + ' class="children"></ol></li>';
        unique=unique+2;
    }

    let unique2 = 10000;
    function addLeftNode() {
        document.getElementById("left").innerHTML += '<li id=' + unique2 + 'd class="children__item"><button id="minusbutton" onclick=deleteNode(this)><i class="fa fa-minus"></i></button><div  class="node"><div spellcheck="false" contenteditable="true" class="single-line other">New Idea</div></div><button onclick=addLeft(this)><i class="fa fa-plus"></i></button><ol id=' + unique2 + ' class="children"></ol></li>';
        unique2=unique2+2;
    }

    function addLeft(elem) {
        var id = $(elem).parent().attr("id");
        id = id.slice(0, -1);
        document.getElementById(id).innerHTML += '<li id=' + unique2 + 'd class="children__item"><button id="minusbutton" onclick=deleteNode(this)><i class="fa fa-minus"></i></button><div  class="node"><div spellcheck="false" contenteditable="true" class="single-line other">New Idea</div></div><button onclick=addLeft(this)><i class="fa fa-plus"></i></button><ol id=' + unique2 + ' class="children"></ol></li>';
        unique2=unique2+2;
    }
    function deleteNode(elem) {
        var id = $(elem).parent().attr("id");
        document.getElementById(id).remove();
    }
    //Save and Open-----------------------------------------------
    function save() {
        // document.getElementById("form2").style = "display:none";
        document.getElementById("form").style = "display:block";
        let myHtml = document.getElementsByClassName("mindmap")[0].innerHTML;
        document.getElementById('code').value = myHtml;
    }
    function openFile() {
        document.getElementById("form").style = "display:none";
        document.getElementById("form2").style = "display:block";
    }
    //-----------------------------------------------------------
    function toHTML(myLink) {
        var newString;
        newString = myLink.split("+").join(" ");
        newString = newString.split("%2F").join("/");
        newString = newString.split("%3D").join("=");
        newString = newString.split("%28").join("(");
        newString = newString.split("%29").join(")");
        return newString;
    }

    $("div[contenteditable]").keypress(function (evt) {

        var keycode = evt.charCode || evt.keyCode;
        if (keycode == 13) {
            return false;
        }
    });
</script>