<div class="container">
    <div class="row">
        <%- include('partials/messages') %>

        <div class="col-sm">
            <a href="/mindmap" class="image1link">
                <div id="image1"></div>
                <div class="textmap">Create Your Mindmap</div>
            </a>

        </div>
        <div class="col-sm">
            <a href="/chat">
                <div id="image2"></div>
                <div class="textmap">Chat with your mates</div>
            </a>

        </div>
    </div>
</div>
<style>
    #image1,
    #image2 {
        position: relative;
        height: 65vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        background-color: blueviolet;
    }

    #image1 {
        background-image: url("./images/1.png");

    }

    #image2 {
        background-image: url("./images/3.png");

    }



    #image1::after,
    #image2::after {
        content: "";
        position: absolute;
        height: 100vh;
        width: 50px;
        transform-origin: center;
        transform: rotate(30deg) translateY(-40vh) translateX(-40vh);

        background: rgba(255, 255, 255, 0.13);
        background: linear-gradient(to right,
                rgba(255, 255, 255, 0.13) 0%,
                rgba(255, 255, 255, 0.13) 77%,
                rgba(255, 255, 255, 0.5) 92%,
                rgba(255, 255, 255, 0.0) 100%);
    }

    #image1:hover::after,
    #image2:hover::after {
        animation: mati 0.5s ease 0s;
    }


    @keyframes mati {
        0% {
            transform: rotate(30deg) translateY(-40vh) translateX(-40vh);
        }

        100% {
            transform: rotate(30deg) translateY(-40vh) translateX(70vh);
        }
    }



    #image2 {
        height: 65vh;
        width: 100%;
    }


    a:hover,
    a:visited,
    a:link,
    a:active {

        text-decoration: none !important;

        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .textmap {
        font-family: 'Lacquer',
            sans-serif;
        margin-top: 10%;
        text-align: center;
        font-size: 20px;
        margin-bottom: 5px;
        text-decoration: none;
        color: white;
    }
</style>